# 按文件类型忽略
## PDF
*.pdf
## zip
*.zip
## ppt
*.pptx
*.ppt
## doc
*.doc
*.docx
## mac zip
*.DS_Store

# 按项目来忽略

## 2023年春季期中

/paper_2023spring_midterm

\EE206_通信原理_Communication-Principles\Exam_Paper\通信原理_2023-spring_midterm

# windows
Thumbs.db
ehthumbs.db
Desktop.ini
#macos
.DS_Store

#反忽略

! EE202-17L_数字电路实验_Digital-Circuits-Lab/